@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 25, 25, 25;
  --background-end-rgb: 30, 30, 30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 23, 23, 23;
    --background-end-rgb: 30, 30, 30;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bgGradCard{
  @apply bg-gradient-to-r from-[#3f3f4650] to-[#3f3f4630] rounded-t-lg
}

.h1Bg{
  @apply text-2xl p-4 bgGradCard z-[20]
}

.card{
  @apply h-full bg-gradient-to-r from-[#2c2c2f] to-[#242426] rounded-lg flex flex-col
}

.innerCard{
  @apply m-4 h-full bg-[rgb(45,45,45,0)] rounded-lg p-4
}

.animCard{
  @apply bg-neutral-700 rounded-xl p-[0.2rem] m-1
}

.hrShadow{
  @apply border border-neutral-700 shadow-[0_10px_20px_10px_rgba(0,0,0,0.3)] z-[10]
}